.row
  .col-xs-3
  .col-xs-6
    %h2="Preferences"
  .col-xs-3


.row
  .col-xs-3
  .col-xs-6
    %h3
      ="Mentee Profile"
  .col-xs-3

.row
  .col-xs-3
  .col-xs-2
    Details
  .col-xs-4    
    = @mentee_profile.try(:mentor_criteria)

.row
  .col-xs-3
  .col-xs-2
    ="Maximum number of mentors"
  .col-xs-4
    = @mentee_profile.try(:capacity)

.row
  .col-xs-3
  .col-xs-2
    %span
      = link_to "Edit", edit_mentee_profile_path(@mentee_profile) if @mentee_profile


.row
  .col-xs-3
  .col-xs-6
    %h3
      ="Mentor Profile"
  .col-xs-3

.row
  .col-xs-3
  .col-xs-2
    Details
  .col-xs-4    
    = @mentor_profile.try(:mentee_criteria)

.row
  .col-xs-3
  .col-xs-2
    ="Maximum number of mentees"
  .col-xs-4
    = @mentor_profile.try(:capacity)

.row
  .col-xs-3
  .col-xs-2
    %span
      = link_to "Edit", edit_mentor_profile_path(@mentor_profile) if @mentor_profile
