.row
  .col-xs-1
  .col-xs-10
    .row
      %h1 
        = "#{@user.full_name}"

.row
  .col-xs-1
  .col-xs-10
    = link_to 'Assign Mentor Candidate', "/admin/users/#{@user.id}/matches/new"

.row
  .col-xs-1
  .col-xs-10
    - if @user.has_role?(:mentee)
      .row
        %h2
          Mentors

      - if @active_mentors.present?
        .row
          %h3
            Current
        .row
          = render '/admin/mentors/mentors', mentors: @active_mentors

      - if @mentor_candidates.present?
        .row
          %h3
            Candidates
        .row
          = render '/admin/mentors/mentors', mentors: @mentor_candidates

      - if @past_mentors.present?
        .row
          %h3
            Past
        .row
          = render '/admin/mentors/mentors', mentors: @past_mentors

      - if @past_mentors_candidates.present?
        .row
          %h3
            Past Candidates
        .row
          = render '/admin/mentors/mentors', mentors: @past_mentor_candidates

    - if @user.has_role?(:mentor)
      .row
        %h2
          Mentees

      - if @active_mentees.present?
        .row
          %h3
            Current Mentees
        .row
          = render '/admin/mentees/mentees', mentees: @active_mentees
              
      - if @mentee_candidates.present?
        .row
          %h3
            Current Mentee Candidates
        .row
          = render '/admin/mentees/mentees', mentees: @mentee_candidates

