.row
  .col-xs-1
  .col-xs-10
    .row
      %h1 Mentors

    .row 
      %table.table-striped
        %tr
          %th
            First Name
          %th
            Last Name
          %th
            Department
          %th
            Location
          %th
            Mentee Count
          %th
            Capacity

        - @mentors.each do |m|
          %tr
            %td
              = m.profile.first_name
            %td
              = m.profile.last_name
            %td
              = m.profile.department
            %td
              = m.profile.location
            %td
              = m.mentees.count
            %td
              = m.preferences.mentee.first.capacity
        