!!!
%html
  %head
    %title Mently
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    %nav.navbar.navbar-inverse
      .container
        .navbar-header
          = link_to 'Mently', '/', id: 'logo'
        .navbar-collapse.visible-xs
          %ul.nav.navbar-nav.navbar-right          
            - if current_user && current_user.has_role?(:mentee)
              %li
                = link_to 'My Mentors', '/mentors'          
            - if current_user && current_user.has_role?(:mentor)
              %li
                = link_to 'My Mentees', '/mentees'          
            %li
              = link_to 'Preferences', '/preferences'
            %li
              = link_to 'Profile', '/profile'
            %li
              = link_to 'Sign Out', '/sign_out'

        .navbar-collapse.hidden-xs
          %ul.nav.navbar-nav.navbar-right
            - if current_user && current_user.has_role?(:mentee)
              %li
                = link_to 'My Mentors', '/mentors'          
            - if current_user && current_user.has_role?(:mentor)
              %li
                = link_to 'My Mentees', '/mentees'          
            %li
              = link_to 'Preferences', '/preferences'
            %li
              = link_to 'Profile', '/profile'
            %li
              = link_to 'Sign Out', '/sign_out'
    - if notice    
      %p.notice= notice
    - if alert
      %p.alert= alert


    = yield
